// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #fff;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}


@import 'app', 'home', 'contact', 'dashboard';